* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
header {
  height: 100px;
  background-color: #000;
  color: #fff;
  align-items: center;
}
.header {
  max-width: 1140px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
}
.logoimg {
  width: 80px;
  height: 80px;
  background-color: #b28756;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  /* conteudo centralizado na direita */
}
.menu ul,
.menu li {
  list-style: none;
  /* tirar os pontos dos li */
}
.menu ul {
  display: flex;
}
.menu li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  align-items: center;
  border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #b28756;
  color: #ccc;
}
.menu .active a {
  border-bottom: 5px solid #b28756;
}
.button {
  display:inline-block;
  background-color:#B28756;
  color:#FFF;
  text-transform: uppercase;
  font-size:12px;
  font-weight:600;
  text-decoration: none;
  padding:10px 30px;
  margin-top:30px;
  border-radius:20px;
}
.button--dark {
  background-color:#000;
}
.button--dark:hover {
  background-color:#B28756;
}

.banner {
  height:calc(100vh - 100px);
  background-color:#333;
  background-image:url('../images/bg.jpg');
  background-size:cover;
  background-position:bottom;
  overflow:hidden;
}
.default {
  padding-top:50px;
  padding-bottom:50px;
}
.default .section-title,
.default .section-desc {
  text-align:center;
  text-transform: uppercase;
  font-weight: 600;
}
.default .section-title {
  font-size:20px;
}
.default .section-desc {
  font-size:12px;
  color:#CCC;
  margin-top:10px;
  margin-bottom:40px;
}
.default .section-body {
  max-width:1140px;
  margin:auto;
}
.default.light {
  background-color:#F7F7F7;
}
.default.light .section-title,
.default.light .section-body {
  color:#000;
}
.default.dark {
  background-color:#000;
}
.default.dark .section-title,
.default.dark .section-body {
  color:#FFF;
}


.section-contact {
  max-width:450px;
  margin:auto;
  text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
  display:block;
  width:100%;
  height:40px;
  border:0;
  background:transparent;
  border-bottom:1px solid #CCC;
  outline:0;
  margin-top:10px;
}
.section-contact textarea {
  height:100px;
  resize:none;
}
.section-contact--split {
  display:flex;
}
.section-contact--split input:first-child {
  margin-right:20px;
}

footer {
  background-color:#000;
  padding:20px;
}
.footer--area {
  max-width:1140px;
  margin:auto;
  color:#FFF;
  display:flex;
}
.footer--item {
  flex:1;
}
.footer-social {
  display:flex;
}
.footer-social a {
  display:block;
  width:25px;
  height:25px;
  background-color:#333;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:13px;
  margin-right:10px;
}
.footer-social a:hover {
  background-color:#B28756;
}
.footer-social img {
  height:10px;
}
.footer--item.area2 {
  color:#999;
  line-height:20px;
  font-size:13px;
  padding:0 10px 10px 10px;
}
.footer--item.area3 form {
  background-color:#333;
  text-align:center;
  padding:30px;
}
.footer--item.area3 input {
  width:100%;
  height:40px;
  border:0;
  background:transparent;
  border-bottom:1px solid #CCC;
  outline:0;
  color:#FFF;
  font-size:14px;
  text-align:center;
}